html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  background: #1f0606;
  color: #fff;
}
nav {
  display: flex;

  align-items: center;
  padding: 20px 50px;
  flex-direction: row;
  position: relative;
  overflow: hidden;
}
.nav-logo {
  margin-left: 0;
  margin-top: 30px;
  position: absolute;
  left: 0;
  transition: transform 0.3s ease;
  cursor: pointer;
  animation-fill-mode: forwards;
}
.nav-logo:hover {
  animation: drive 2s linear infinite;
}
.nav-links {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
  gap: 100px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 25px;
  font-weight: 500;
  transition: color 0.3s ease;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}
.nav-links li a:hover {
  color: #ff6f61;
  border: 2px solid #6b514f;
  border-radius: 5px;
  padding: 5px 10px;
}
.hero {
  text-align: center;
  padding: 50px 20px;
  background-image: url("../images/bg.jpg");
  background-size: cover;
  background-position: center;
}
h1 {
  font-size: 50px;
  margin-bottom: 50px;
  font-weight: 900;
}
p {
  font-size: 20px;
  margin-bottom: 20px;
  line-height: 1.6;
  font-weight: 900;
}
.features {
  text-align: center;
  padding: 50px 20px;
}
h2 {
  font-size: 40px;
  margin-bottom: 30px;
  font-weight: 900;
}
.card {
  background: #705d5d;
  border-radius: 10px;
  padding: 20px;
  margin: 50px;
  width: 300px;
  vertical-align: top;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.card h3 {
  font-size: 24px;
  margin: 15px 0;
  font-weight: 800;
}
.card p {
  font-size: 16px;
  line-height: 1.4;
  font-weight: 600;
}
.card img {
  margin-bottom: 15px;
  width: 100%;
  height: 10rem;
  border-radius: 15px;
}
.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
}
a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}
a:hover {
  color: #ff6f61;
  border: 2px solid #6b514f;
  border-radius: 5px;
  padding: 5px 10px;
}
.footer-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-bottom: 20px;
}
.footer-logo img {
  width: 40px;
  height: 40px;
}
footer {
  text-align: center;
  padding: 20px;
  background: #2c1a1a23;
}
@keyframes drive {
  from {
    left: 0;
  }
  to {
    left: calc(100% - 60px);
  }
}
@media (max-width: 480px) {
  nav {
    display: flex;
    align-items: center;
    padding: 0 10px;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }
  .nav-logo {
    position: static;
    left: 0;
    margin: 10px 0;
    display: block;
    height: 60px;
  }
  .nav-links {
    position: static;
    transform: none;
    flex-direction: row;
    gap: 0;
    margin: 10px;

    align-items: center;
  }
  .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.3s ease;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
  }
  h1 {
    font-size: 30px;
    font-weight: 900;
    color: #0c0202b2;
  }
  h2 {
    font-size: 25px;
    font-weight: 900;
  }
  .card {
    width: 100%;
    margin: 20px auto;
  }
  h3 {
    font-size: 20px;
    font-weight: 800;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
  }
}
@media (max-width: 900px) {
  nav {
    display: flex;
    align-items: center;
    padding: 0 10px;
    flex-direction: row;
    position: relative;
    overflow: hidden;
  }
  .nav-logo {
    position: static;
    left: 0;
    margin: 10px 0;
    display: block;
    height: 60px;
  }
  .nav-links {
    position: static;
    transform: none;
    flex-direction: row;
    gap: 0;
    margin: 10px;

    align-items: center;
  }
  .nav-links li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    transition: color 0.3s ease;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
  }
  h1 {
    font-size: 30px;
    font-weight: 900;
    color: #0c0202b2;
  }
  h2 {
    font-size: 25px;
    font-weight: 900;
  }
  .card {
    width: 100%;
    margin: 20px auto;
  }
  h3 {
    font-size: 20px;
    font-weight: 800;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 20px;
  }
}
